.main-page {
  display: flex;
  min-width: 100%;
  min-height: 100%;
  background-color: black;
  align-items: center;
  justify-content: center;
}
.main-div {
  display: flex;
  justify-content: center;
  height: 150px;
  width: 100%;
}
.box-div {
  display: table-column-group;
  justify-content: space-between;
  width: 115px;
  height: 105px;
  margin: 15px;
  font-size: 30px;
  border-color: black;
  border-radius: 15px;
}

.second-div {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 150px;
}
.three-div {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 150px;
}
.image-obras {
  max-width: 100%;
  min-height: 100%;
}
.box-div:hover {
  transform: scale(1.3);
}
